In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import numpy as np

In [ ]:
#0.71 best score --> 0.68 기준으로 했을때 현재 best
#dysphoria    1950
#euphoria      409
#neutral       207
# Name: Predicted, dtype: int64
2566
submission_df = pd.read_csv('/content/gdrive/My Drive/kerc/logs/submission_sum.csv')
#submission_df = pd.read_csv('/content/gdrive/My Drive/kerc/logs/submission_sum_top3_repeat1.csv')

In [ ]:
submission_df.head()

   Id   label_67   label_69  label_68
0  10  dysphoria  dysphoria  euphoria
1  11   euphoria    neutral  euphoria
2  12   euphoria    neutral  euphoria
3  13   euphoria  dysphoria  euphoria
4  14   euphoria    neutral  euphoria

In [ ]:
print(submission_df['label_67'].value_counts())

dysphoria    1958
euphoria      440
neutral       168
Name: label_67, dtype: int64

In [ ]:
print(submission_df['label_69'].value_counts())

dysphoria    1781
euphoria      584
neutral       201
Name: label_69, dtype: int64

In [ ]:
print(submission_df['label_68'].value_counts())

dysphoria    1625
euphoria      623
neutral       318
Name: label_68, dtype: int64

In [ ]:
print(submission_df['label_68'].count())

2566

In [ ]:
from collections import Counter
for idx, row in submission_df.iterrows():
  label_67 = row["label_67"]
  label_69 = row["label_69"]
  label_68 = row["label_68"]
  
  #z = [label_69, label_68, label_67] # 순위 중복이더라도 69 먼저 선택함
  #z = [label_68, label_69, label_67] # 순위 중복이더라도 68 먼저 선택함 --> best
  z = [label_67, label_69, label_68] # 순위 중복이더라도 68 먼저 선택함 --> best
  dic_list = Counter(z)
  max_value = max(dic_list, key=dic_list.get)
  submission_df.loc[idx, 'Predicted'] = max_value

In [ ]:
print(submission_df['Predicted'].value_counts())
print(submission_df['Predicted'].count())

dysphoria    2015
euphoria      394
neutral       157
Name: Predicted, dtype: int64
2566

In [ ]:
submission_df2 = pd.DataFrame()
submission_df2["Id"] = submission_df['Id']
submission_df2["Predicted"] = submission_df['Predicted']
submission_df2.to_csv(f'/content/gdrive/MyDrive/kerc/logs/submission_sum_3top_67base.csv', index=False)
print(f"Saved 'logs/submission_submission_sum_3top_67base.csv")

Saved 'logs/submission_submission_sum_3top_67base.csv